<div class="container row">
    <ul class="collection with-header col s6 offset-s3">
        <li class="collection-header"><h4>Memes de {{(user | async)?.login}}</h4></li>

        <li class="collection-item avatar" *ngFor="let meme of memes | async">
            <img [src]="meme.url"
                 alt="aperçu meme" class="circle">
            <span class="title">{{meme.name}}</span>
            {{meme.elo}}
            <span class="secondary-content"><a class="btn waves" (click)="startDuel(meme)"></a></span>
        </li>
        <li>
            <a class="btn btn-flat waves" *ngIf="userIsMe() | async" [routerLink]="['meme','create']">Nouveau meme</a>
        </li>
    </ul>
</div>